<div class="card mb-3 main-card">
    <div class="row g-0">
        <div class="col-md-4 div-img-card">
            <img [src]="urlImg" class="card-img-top img-card" alt="Image card">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 (click)="goDetails()"
                [matTooltip]="title" matTooltipPosition="above" [matTooltipClass]="'tooltip-red'"
                 class="card-title">{{title | shorten:20:false}}</h5>
                <p class="card-text"
                [matTooltip]="ingredients" matTooltipPosition="above" [matTooltipClass]="'tooltip-red'"
                >{{ingredients | shorten:60:true}}</p>
                <p class="card-text"><small class="text-muted">{{date | date}}</small></p>
            </div> 
        </div>
    </div>
</div>

